.cardTitle {
    margin-top: 30px;
    padding-left: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -20px;
    margin-right: 55%;
    font-size: 35px;
    background-color: white;
    border: 2px solid black;
    box-shadow: -3px 3px 3px black;
}

.cardBox { 
    aspect-ratio: 3.5/2;
    margin-left: 200px;
    margin-right: 200px;
    background: none;
    min-width: 800px;
    color: black;
    position: relative;
    display: none;
    opacity: .5;
    transition: opacity 1s ease;
}
.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .4s ease;
    border: 2px solid black;
    background-color: white;
    min-width: 1000px;
    min-height: 571px;
}
.flipcard {
    transform: rotateY(180deg);
}



/* Front */
.cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
    box-shadow: -5px 5px 15px black;
}

/* Front Left Side */
.frontLeftCard {
    display: grid;
    grid-template-rows: 35% 20% 15% 1fr;
    
}
.introduction {
    padding-top: 20px;
    padding-left: 10px;
}
.firstName {
    font-weight: 700;
}
.name {
    font-size: 80px;
    white-space: nowrap;
    margin-left: 15px;
}
.jobTitle {
    font-size: 30px;
    white-space: nowrap;
    margin-left: 15px;
}
.line {
    height:2px;
    margin-right: 75%;
    background-color: black;
    margin-left: 15px;
}
.contactBox {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
}
.contactBox img {
    width: 50px;
    height: 50px;
}
.contactBox a {
    color: black;
    text-decoration: none;
    overflow: hidden;
    font-size: 18px;
}
.resumeSection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.resumeButton {
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    background-color: #CCCCCC;
    font-size: 24px;
    font-weight: 500;
    margin: 0% 15%;
    transition: background-color .15s, color .15s;
}
.resumeButton:hover {
    cursor: pointer;
    background-color: #2E8B57;
    color: white;
}
.resumeButton:active {
    background-color: #2E8B57;
    color: white;
    box-shadow: inset 0px 0px 4px black;
}
.contactBox img:hover, .contactBox button:hover {
cursor: pointer;
}
.github-line {
margin-bottom: 30px;
}
.email-line {
margin-top: 30px;
}
.skillsPreview {
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 2;
    height: 50px;
    background-color: #CCCCCC;
    box-shadow: 0px 5px 2px black;
    padding-left: 20px;
    font-size: 30px;
    padding-bottom: 5px;
    
}
.resume {
    height: 40px;
    background-color: #888888;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
}
/*Front Right Side*/
.frontRightCard {
    background-color: darkgray;
    display: grid;
    grid-template-rows: 15% 1fr;
    height: 100%;
}
.contactIcons {
    display: flex;
    justify-content: space;
    align-items: center;
    height: 100%;
}
.contactIcons div {
    margin-right: 20px;
}
.contactIcons img {
    width: 30px;
    margin-right: 20px;
    transition: opacity .15s;
}
.linkedinImg {
    height: 30px;
}
.contactIcons img:hover {
    opacity: .7;
    cursor: pointer;
}
.projectsHeaderBox {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    flex-direction: column;
    margin-right:25px;
    font-size: 32px;
    font-weight: 400;
}
.projectsHeader {
    font-size: 30px;
}
.projectsLine {
    height:2px;
    width: 40%;
    margin-bottom: 0px;
    background-color: black;
}

/* Back */
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: -5px 5px 15px black;
}

/* Back Left Card */
.backLeftCard {
    background-color: lightgray;
    border-right: 1px solid darkgray;
}

/* Back Right of Card */
.backRightCard {
    background-color: white;
    display: grid;
    grid-template-rows: 50px 1fr;
}

/* Flip Card Button */
.flipSpace {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    left: -130px;
    bottom: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666666;
    box-shadow: 1px 1px 3px black;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    color: white;
    font-weight: 500;
    transition: background-color .1s;
}
.flipSpace:hover {
    cursor: pointer;
    background-color: #2E8B57;
    color: white;
}
.flipSpace:active {
    box-shadow: inset 0px 0px 3px black;
    background-color: #2E8B57;
    color: white;
}
.flipIcon {
    width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15%;
}