.projectBox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 1;
    width: 90%;
    padding-top: 20px;
    justify-self: center;
}

.projects-title {
    font-size: 30px;
    font-weight: 500;
}

.projectBox img:hover {
    cursor: pointer;
    opacity: .3;
}

.projectBox img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    position: absolute;
    background-color: black;
    transition: opacity .15s;
}
.projectImg1 {
    object-position: 0px 0px;
}
.projectBox div {
    position: relative;
    background-color: white;
    border: 1px solid black;
}
.projectBox div:hover {
    background-color: black;
}
.projectBox div:active {
    background-color: #333333;
}
.projectBox p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    opacity: 1;
}
.projectBox1, .projectImg1 {
    border-top-left-radius: 15%;
}
.projectBox2, .projectImg2 {
    border-top-right-radius: 15%;
}
.projectBox3, .projectImg3 {
    border-bottom-left-radius: 15%;
}
.projectBox4, .projectImg4 {
    border-bottom-right-radius: 15%;
}